body{
    margin:0;
    padding:0;
   
}
.navbar{
    display:flex;
    justify-content: center;
    background-color:black;
    width:100%;
    padding:100px;
    
    
}

.navbar a{
    text-decoration: none;
    margin-right:50px;
    color:aliceblue
}

body {
    padding-top: 70px;
}
img {
    height: 50px;
    border-radius: 50%;
    width:50px;
    margin-left: 50px;
    margin-right: 30px;
}